@import "./variables";

body {
  margin: 0;
  font-family: 'Merriweather', 'Montserrat';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  color: $main_text_color;
  text-decoration: none;
  list-style-type: none
}