@import "../../../../variables";

.loader-container,
.map-container {
  height: 490px;
  width: 100%;

}

.loader-container {
  @include flex-center;
}

.map-container {
  border-radius: 40px;
  overflow: hidden;
}