@import "../../../../variables";

.navigation-link {
    display: flex;
    justify-content: center;

    &__text {
        font-family: 'Montserrat';
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px;
        color: $primary;
        border-bottom: 1.5px solid $primary;
        transition: all .2s;

        &:hover {
            color: $main_text_color;
            border-color: $main_light-text_color;
        }
    }
}