@import "../../../variables";

.service-card-link {
    .service-card {
        border-radius: 26px;
        background: #FFF;
        box-shadow: 1px 4px 20px 0px rgba(0, 0, 0, 0.12);
        padding: 20px;
        transition: all .2s ease;

        &:hover {
            transform: scale(1.03);
        }

        &__image-container {
            background-size: cover;
            width: 100%;
            min-width: 250px;
            height: 100%;
            min-height: 170px;
            border-radius: 20px;
            overflow: hidden;
        }

        &__title,
        &__description {
            color: $main_light-text_color;
            font-style: normal;
        }

        &__title {
            font-family: 'Merriweather';
            font-size: 18px;
            font-weight: 700;
            line-height: 26px;
            margin-top: 10px;
            margin-bottom: 7px;
        }

        &__description {
            font-family: 'Montserrat';
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            height: 40px;
            overflow: hidden;
        }
    }
}

@media screen and (max-width: 900px) {
    .service-card-link {
        .service-card {
            padding: 10px;

            &__image-container {
                min-width: 100%;
            }

            &__title {
                font-size: 16px;
                line-height: 20px;
            }

            &__description {
                font-size: 12px;
            }
        }
    }
}