@import "../../variables";

.footer-container {
    background-color: $main_text_color;
    padding: 66px 0px 17px;

    .footer {
        @include container;

        &__data {
            border-bottom: 1px solid rgba(255, 255, 255, 0.32);
            padding-bottom: 36px;
            display: flex;
            gap: 90px;
        }

        &__logo {
            margin-bottom: 50px;
            width: 115px;
            height: 84px;
        }

        .links {
            display: flex;
            flex-wrap: wrap;
            gap: 90px;
        }

        &__rights {
            color: #7B838B;
            text-align: center;
            font-family: 'Montserrat';
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px;
            margin-top: 8px;
        }
    }
}

@media screen and (max-width: 900px) {
    .footer-container {
        .footer {
            @include mobile_container-padding;

            &__logo {
                margin-bottom: 30px;
                width: 92px;
                height: 67.2px;
            }

            &__data {
                gap: 60px;
            }

            &__cta {
                display: flex;
                gap: 60px;
            }

            .links {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 650px) {
    .footer-container {
        .footer {

            &__data {
                gap: 20px;
                flex-direction: column;
              align-items: center;
            }

            &__cta { 
                gap: 20px;
                flex-direction: column;
                align-items: center;
            }
        }
    }
}