@import "../../variables";


.form-container {
    background-image: url('../../../public//images/bg.png');
    background-size: cover;
    padding: 55px 0 $space-between-sections;

    .form {
        @include container;

        &__header {
            @include row_align-center;
            justify-content: space-between;
            margin-bottom: 24px;
        }

        &__title {
            font-family: 'Merriweather';
            font-size: 44px;
            font-style: normal;
            font-weight: 700;
            line-height: 90px;
        }

        &__field-row-mobile {
            display: none
        }

        &__date-picker {
            width: 100%;
            max-width: 300px;
        }

        &__field-row {
            @include row_align-center;
            gap: 40px;
            margin-bottom: 24px;
        }

        &__fields-columns {
            display: flex;
            gap: 40px;
        }

        &__block {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 24px;
        }

        &__send {
            display: flex;
            justify-content: center;
            margin-top: 73px;
        }

        &__send-button {
            @include button($primary, 18px, #fff)
        }
    }
}

@media screen and (max-width: 1100px) {
    .form-container {
        .form {
            &__field-row-mobile {
                display: flex;
                margin-bottom: 24px;
                justify-content: center;
            }

            &__date-picker {
                display: none
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .form-container {
        margin-top: $space-between-sections_mobile;
        padding: 35px 0 $space-between-sections_mobile;

        .form {
            @include mobile_container-padding;

            &__header {
                flex-direction: column;
                margin-bottom: 44px;
            }

            &__title {
                font-size: 34px;
                line-height: 60px;
            }

            &__fields-columns {
                gap: 24px;
            }
        }
    }
}

@media screen and (max-width: 650px) {
    .form-container {
        .form {
            &__field-row {
                gap: 16px;
                flex-wrap: wrap;
            }

            &__fields-columns {
                flex-direction: column;
                gap: 16px;
            }

            &__block {
                gap: 16px;
            }
        }
    }
}